html {
  font-size: 20px;
  background-color: lavender;
}
body {
  width: 80%;
  margin: auto;
  background-color: thistle;
  border-radius: 25px;
  padding: 3em;
}
nav {
  margin: auto;
  background-color: plum;
  font-size: 25px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
ul {
  padding: 0;
  text-align: center;
}

.heading2 {
text-align: center;
font-size: 25px;
font-weight: bold;
color: #483D8B;
}

.other {
  display: inline;
  padding: 15px;
  font-family: copperplate;
}

.current {
  display: inline;
  background-color: mistyrose;
  border-radius: 10px 10px 0 0;
  font-family: copperplate;
}

h1 {
  text-align: center;
  font-family: monaco;
}

p {
  font-size: 1.5 em
  overflow: auto;
  font-family: "georgia";
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.picture0 {
  margin-right: 5px;
  padding: 10px;
  float: left;
  width: 25%;
  border-radius: 20px;
  border: 5px solid #663399;
}

.picture1 {
  margin-left: 5px;
  padding: 10px;
  float: right;
  width: 25%;
  border-radius: 10px;
  border: 3px solid #663399;
}

.text {
  text-align: left;
  margin-down: 5px;
  margin-up: 5px;
}
.text0 {
  text-align: left;
  margin-down: 5px;
  margin-up: 5px;
  font-style: italic;
}

.l {
  text-align: left;
  padding-left: 10px;
  margin-left: 1em;
}

.i {
  text-align: left;
  margin-left: 20em;
}
.separate {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  padding: 1em;
}

.info {
text-align: center;
font-size: 20px;
color: midnightblue;
margin-down: 2em;
margin-up: 2em
}
