html {
  font-size: 20px;
  background-color: lavender;
}


body {
  width: 80%;
  margin: auto;
  background-color: thistle;
  border-radius: 25px;
  padding: 3em;
}
nav {
      height: 100%;
      width: 20%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: plum;
}

ul {
  padding: 0;
  text-align: center;
}

.other {
  display: inline;
  padding: 15px;
  font-family: copperplate;
}

.current {
  display: inline;
  background-color: mistyrose;
  border-radius: 10px 10px 0 0;
  font-family: copperplate;
}

h1 {
  text-align: center;
  font-family: monaco;
}

p {
  font-size: 1.5 em
  overflow: auto;
  font-family: "georgia";
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
  
.picture {
  float: left;
  padding-right: 10px
}

.text {
  text-align: left;
  margin-right: 2em;
}
.text0 {
  text-align: left;
  margin-right: 2em;
  font-style: italic;
}

.l {
  text-align: left;
  padding-left: 10px;
  margin-left: 1em;
}

.i {
  text-align: left;
  margin-left: 20em;
}
div {
  display: block;
}
