html {
  font-size: 20px;
  background-color: lavender;
}
body {
    background-color: thistle;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
}
nav {
  margin: auto;
  background-color: plum;
  font-size: 30px;
  font-weight: bold;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: .5px;
  width: 95%;
  border-radius: 20px;
  text-align: center;
}

}
ul {
  padding: 0;
  text-align: center;
}

a:hover {
  padding: 5px;
  background-color: papayawhip;
  border-radius: 20px;
}

.heading2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #483D8B;
}

.other {
  display: inline;
  padding: 15px;
  font-family: copperplate;
}

.current {
  display: inline;
  padding: 10px;
  background-color: #E2CAC7;
  font-family: copperplate;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-family: monaco;
  font-weight: bold;
  text-decoration: underline;
}

p {
  overflow: auto;
  font-family: "georgia";
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.text {
  text-size: 30px;
  padding: 5px;
  text-align: left;
  font-style: italic;
}
  

.picture0 {
  margin-right: 5px;
  padding: 10px;
  float: left;
  width: 25%;
  border-radius: 20px;
  border: 5px solid #663399;
}

.picture1 {
  margin-left: 5px;
  padding: 10px;
  float: right;
  width: 25%;
  border-radius: 10px;
  border: 3px solid #663399;
}

.italics {
  padding: 5px;
  text-align: left;
  font-style: italic;
}

.list {
  text-align: left;
  padding-left: 10px;
  margin-left: 1em;
}

.centerlist {
  text-align: center;
  padding-left: 10px;
  margin-left: 1em;
}

.separate {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  padding: 1em;
}

.info {
  text-align: center;
  font-size: 20px;
  color: midnightblue;
  margin: auto;
  border: 1px solid darkslateblue;
}

.features {
  text-align: center;
  font-size: 20px;
  color: midnightblue;
  margin: auto;
  border: 1px solid darkslateblue;
  padding: 10px;
  width: 50%;
}

